.module {
  border-collapse: collapse;
  margin: auto;
  max-width: 1200px;
  text-align: center;
  width: 100%;

  th {
    border: 1px solid #ddd;
    color: #23b9d0;
    padding: 10px;
  }

  tbody tr:nth-child(odd) {background: transparentize(#23b9d0, .9);}

  td {padding: 10px;}

  a {
    color: #23b9d0;
    font-weight: 700;
    text-decoration: underline;
  }

  .actions {
    min-width: 98px;

    a,
    button {
      background: url('./assets/ico-edit.svg') #23b9d0 no-repeat center;
      background-size: 18px;
      border: 0;
      border-radius: 4px;
      display: inline-block;
      height: 30px;
      margin: 0 4px;
      text-indent: -9999px;
      vertical-align: middle;
      width: 30px;

      &:last-child {
        background-color: #c9462c;
        background-image: url('./assets/ico-remove.svg');
      }
    }
  }
}
